// Define variables for your color scheme

// For example:

// Nos couleurs :

$black: black;
$darkgray: #212930;
$yellow: #F2C242;
$light-gray: white;
$white: #F1EFEF;

// Couleurs de base

$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
