.dashboard {
  margin: 0 auto;
}

.dashboard-header {
  // border: 1px solid $yellow;
  border-radius: $radius;
  background-color: $yellow;
  margin: 15px;
  height: 200px;

  h1 {
    padding-top: 5px;
    color: #353535;
  }

  img {
    text-align: center;
  }

  img {
    margin-top: -1px;
    margin-left: -5px;
    border-radius: $radius $radius 0 0;
    width: 346px;
    height: 150px;
  }
}

.dashboard-title {
  color: white;
  font-size: 34px;
  font-weight: bolder;
}


.dashboard-option p {
  border: 1px solid $yellow;
  border-radius: 15px;
  margin: 15px;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  margin-top: none;
  color: $yellow;
  font-weight: bolder;
}

/* -------------------------------------------------------------------------- */

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
}

.card.highlight {
  filter: brightness(1);
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 350px;
  --carousel-min-width: 100%;
  z-index: 1;
  position: relative;
  right: -5px;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter 0.3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2);
  }
}

.card-carousel.smooth-return {
  transition: all 0.2s ease;
}

.card-carousel .card {
  // background: whitesmoke;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  transition: inherit;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: $radius;
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgb(255, 224, 140) !important;

  img {
    margin-top: 0px;
    /* margin-left: -4px; */
    border-radius: 10px;
    width: 280px;
    height: 350px;
  }
}

.card[data-x="1"] {
  left: 28% !important;
}
.card[data-x="-1"] {
  left: -3% !important;
}

.card-empty {
  max-width: 92%;
  text-align: center;
  padding: 1em;
  margin: auto;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: $radius;
  filter: brightness(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2f3b48;

  p {
    vertical-align: middle;
    margin-bottom: 0px !important;
    color: rgba(255, 255, 255, 1);
  }
}

/* -------------------------------------------------------------------------- */

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
