.date-year {
  width: 50%;
  border: 0;
  background-color: $darkgray;
  color: $white;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  margin: 72% 0;
  outline: none
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
