.date-year {
  width: 50%;
  border: 0;
  background-color: $darkgray;
  color: $white;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  margin: 30% 0;
  outline: none
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.container-quizz {
  margin-top: -70px;
}

// .genre-align {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
