// Import page-specific CSS files here.
@import "dashboard";
@import "date_quizz_choices";
@import "friends";
@import "home";
@import "results";
@import "friendsfav";

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

.super-container {
  position: relative;
  border-radius: 4px;
  overflow: auto;
}
