// Import page-specific CSS files here.
@import "dashboard";
@import "date_quizz_choices";
@import "friends";
@import "home";
@import "results";

body {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.super-container {
  position: relative;
  width: 367px;
  height: 90vh;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: auto;
  cursor: grab;
}
