.card-final {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-final > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-final h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-final p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-final .card-final-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-final-infos .card-final-other {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.final-poster {
  width: 100%;
  max-width: 320px;
  height: auto;
}

.margin-auto {
  display: flex;
  justify-content: center;
}
