<h1>Group#index</h1>
<% @groups.each do |group| %>
  <%# if group.archive == false do |group| %>
    <%= group.name %>
    <%= group.user_id %>
  <%# end %>
<% end %>

<%# link_to "Delete group",  %>
