<div class="row d-flex">
  <h1 class="dash-text mb-5">Your groups</h1>
</div>

<div class="row">
  <div class="col-sm padd-s text-center d-block">
    <% @groups.each do |group| %>
      <div class="tag-button" style="margin: 20px">
        <%= link_to group.name.capitalize, group_path(group.id), class:'add-group' %>
        <br><br>
      </div>
    <% end %>
  </div>

  <%= link_to "Create a new film show", new_group_path, class:'group-button pos' %>
</div>
