
<div class="create-group">
  <h1>Organize a film show</h1>

  <%= simple_form_for @group do |f| %>
    <%= f.input :name, placeholder: 'Name your group..', label: false%>
    <%= f.association :user, collection: @friends, as: :check_boxes, label_method: :username %>
    <%= f.submit class:"user-group" %>
  <% end %>
</div>
