<div class="row d-flex">
  <h1 class="dash-text text-center"><%= @group.name %></h1>
</div>

<div class="row">
  <div class="col-sm padd-s text-center d-block">

    <h6 class="mt-4"><u> Members of the group:</u></h6>

    <% @group.users.each do |user| %>
      <%= user[:username] %><br>
    <% end %>

    <br>
    <br>

    <%= link_to "Delete this group", group_path(@group.id), data: {turbo_method: "patch"}, class: 'delete' %>

    <% if @group.quizz_choices.where(user_id: current_user.id).first.nil? || @group.quizz_choices.where(user_id: current_user.id).first.sent == false %>
      <%= link_to "Start the quiz", new_group_quizz_choice_path(@group), class: "bottom-button" %>
    <% end %>
  </div>
</div>
