<div class="row d-flex">
  <h1 class="text-center fw-bold my-4 group-name"><%= @group.name %></h1>
</div>


  <div class="text-center ">

    <div class="member-content">
      <h4 class="mt-4 member-title"><u> Members of the group</u></h4>
        <% @group.users.each do |user| %>
        <p class="member-group"><%= user[:username] %> </p>
      <% end %>
    </div>

    <%= link_to "Delete this group", group_path(@group.id), data: {turbo_method: "patch"}, class: 'delete-group' %>

    <% if @group.quizz_choices.where(user_id: current_user.id).first.nil? || @group.quizz_choices.where(user_id: current_user.id).first.sent == false %>
      <%= link_to "Start the quiz", new_group_quizz_choice_path(@group), class: "bottom-button" %>
    <% end %>
  </div>
