<h1><%= @group.name %></h1>
<br><br>
<h6> <u> Members of the group:</u></h6>
<br>
<% @group.users.each do |user| %>
  <%= user[:username].capitalize %><br>
<% end %>
<br>
<div>
  <%= link_to "Delete this group", group_path(@group.id), method: "patch" %>
</div>


<div class = "bottom-button">
  <%= link_to "Start the quiz", new_group_quizz_choice_path(@group) %>
</div>
