<%# <div class="navbar">
  <a class="back-button" href=""></a>
  <a class="menu-button" href="">
    <div class="bar-one"></div>
    <div class="bar-two"></div>
  </a>
</div> %>


<input id="toggle" type="checkbox"> 

<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>

<div class="nav">
  <div class="nav-wrapper">
    <nav>
      <a href="#">HOME</a><br>
      <a href="#">ABOUT</a><br>
      <a href="#">WORK</a><br>
      <a href="#">SERVICES</a>
    </nav>
  </div>
</div>
