<%# <div class="navbar">
  <a class="back-button" href=""></a>
  <a class="menu-button" href="">
    <div class="bar-one"></div>
    <div class="bar-two"></div>
  </a>
</div> %>

<div class="navbar">
  <%#= link_to request.referer.present? ? request.referer : default_path, class:"link-none" do  %>
  <%= link_to "", "javascript:history.go(-1)", class:"fa-solid fa-angle-left fa-2x arrow link-none" %>
    <%# <i class="fa-solid fa-angle-left fa-2x arrow"></i> %>
  <%# end  %>
  <input id="toggle" type="checkbox">

  <label for="toggle" class="hamburger">
    <div class="top-bun"></div>
    <div class="meat"></div>
    <div class="bottom-bun"></div>
  </label>

  <div class="nav py-4 ">
    <div class="d-flex flex-column justify-content-start">
      <%= link_to "HOME", dashboard_path, class: 'px-4 py-2  text_decoration_none text-color' %>
      <%= link_to "LOGOUT", destroy_user_session_path, data: {turbo_method: :delete}, class: 'px-4 py-2  text_decoration_none text-color' %>
    </div>
  </div>
</div>
