<div class="container">
  <div class="duration">
    <label for="customRange3" class="form-label">Duration</label>
    <input type="range" class="form-range" min="60" max="240" step="15" id="customRange3">
    <button></button>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
</div>
