<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    25%
  </div>
</div>

<br>

<h3>Choose a duration</h3>

<%= simple_form_for @quizz_choice, url: add_duration_quizz_choice_path, method: :patch do |f| %>
  <div class="rangeslider">
    <%= f.input :duration,
                as: :range,
                input_html: {
                  min: 60,
                  max: 300,
                  value: 180,
                  step: 30,
                  class: 'myslider',
                  id: 'sliderRange'
                } %>
    <p>Your value: <span id="demo"></span> min</p>
  </div>
    <%= f.submit class: "bottom-button" %>
<% end %>

<script>
  var rangeslider = document.getElementById("sliderRange");
  var duration = document.getElementById("demo");

  duration.innerHTML = rangeslider.value;

  rangeslider.oninput = function() {
    duration.innerHTML = this.value;
  }
</script>
