<h3 class="my-4">Choose a genre</h3>

<%= simple_form_for [@group, @quizz_choice], url: edit_genre_quizz_choice_path(@quizz_choice), method: :patch do |f| %>

  <%= f.input :genre, as: :check_boxes,
              collection: ["Science Fiction", "Adventure", "Action", "Animation", "Comedy", "Romance",
                            "Crime", "Drama", "Fantasy", "Family", "History", "Horror", "Music",
                            "Mystery", "Thriller", "TV Movie", "War", "Western", "Documentary"],
              label: "" %>
  <%= f.submit "Start the quizz", class: "bottom-button quizz-button"  %>

<% end %>
