<div class="d-flex justify-content-center my-5">
  <div>
    <h1 class="d-flex justify-content-center my-5">All your choice</h1>
      <h3 class="d-flex text-center">Your mood</h3>
        <p>sdcds</p>
        <h3>Casting</h3>
        <p>sdcds</p>
        <h3>Date</h3>
        <p>sdcds</p>

  </div>






</div>
