<%# ------------------------------------ QUESTIONS SUR LES GENRES ---------------------------------------- %>
<%= simple_form_for [@group, @quizz_choice] do |f| %>
  <%= f.input :genre, as: :check_boxes, collection: ["Action", "Adventure", "Crime"]  %>
  <%= f.submit %>
<% end %>


<%#
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='action'>
  <label class='btn-general' for="genre">Action</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='adventure'>
  <label class='btn-general' for="genre">Adventure</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='animation'>
  <label class='btn-general' for="genre">Animation</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='comedy'>
  <label class='btn-general' for="genre">Comedy</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='crime'>
  <label class='btn-general' for="genre">Crime</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='documentary'>
  <label class='btn-general' for="genre">Documentary</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='drama'>
  <label class='btn-general' for="genre">Drama</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='fantasy'>
  <label class='btn-general' for="genre">Fantasy</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='family'>
  <label class='btn-general' for="genre">Family</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='history'>
  <label class='btn-general' for="genre">History</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='horror'>
  <label class='btn-general' for="genre">Horror</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='music'>
  <label class='btn-general' for="genre">Music</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='mystery'>
  <label class='btn-general' for="genre">Mystery</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='romance'>
  <label class='btn-general' for="genre">Romance</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='science-fiction'>
  <label class='btn-general' for="genre">Science Fiction</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='thriller'>
  <label class='btn-general' for="genre">Thriller</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='tv-movie'>
  <label class='btn-general' for="genre">TV Movie</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='war'>
  <label class='btn-general' for="genre">War</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>
<div class="genre-card" data-action='click->add-color#changecolor' data-action='click->changing-slide#nextquestion' data-color='western'>
  <label class='btn-general' for="genre">Wester</label>
  <input class='hiddenbox' id="genre" type='checkbox'>
</div>

  <%= link_to "next", edit_quizz_choice_path(:quizz_choice) %>
