<%# ------------------------------------ QUESTIONS SUR LES GENRES ---------------------------------------- %>

<div class="container-quizz">
  <div class="progress progress-new-top my-5">
    <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <br>

  <h3>Let's choose a genre</h3>

  <%= simple_form_for [@group, @quizz_choice] do |f| %>

    <%= f.input :genre, as: :check_boxes,
                collection: ["Adventure", "Action", "Animation", "Comedy", "Romance",
                             "Crime", "Documentary", "Drama", "Fantasy", "Family", "History", "Horror", "Music",
                             "Mystery", "Sci-Fi", "Thriller", "TV Movie", "War", "Western"], label: "" %>
    <%= f.submit "Next", class: "bottom-button quizz-button"  %>

  <% end %>

</div>
