<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clap !</title>
  </head>
  <body>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

    <a class="tag-button" href="#">Treasure hunt</a><br>
    <a class="tag-button" href="#">Nazi</a><br>
    <a class="bottom-button" href="#">Start the quiz</a>
    <a class="plus-button" href="">+</a>
  </body>
</html>
