
<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">

  <a href="/dashboard">
    <%# <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_khzniaya.json"  background="transparent"  speed="0.5"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> %>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_CTaizi.json"  background="transparent"  speed="0.5"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
  </a>
</div>
