
<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">

  <%# <#%= link_to cl_image_tag("clap_1_ivufzu.png", width: 200, height: 200), dashboard_path,  %>

  <a href="/dashboard">
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_khzniaya.json"  background="transparent"  speed="0.5"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> </a>
</div>
