<div class="row">
  <div class="col">
    <div class="cards">

      <%= link_to groups_path do %>
        <div class="card-category">
          <p>Join a group</p>
        </div>
      <% end %>

      <%= link_to new_group_path do %>
        <div class="card-category">
          <p>Create a group</p>
        </div>
      <% end %>

      <%= link_to new_quizz_choice_path do %>
        <div class="card-category">
          <p>Solo</p>
        </div>
      <% end %>

    </div>
  </div>
</div>
