
<div class="container">
    <div class="text-center my-4">
      <h1>New movies are waiting for you</h1>
      <p class="p-index">Match your preferences now</p>
    </div>

  <div class="row">
      <div class="col-sm">
        <%= link_to groups_path, class: "text-decoration-none" do %>
          <div class="option-join d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-dice" style="font-size: 24px"></i>
            <p class="mb-0" style="padding-top: 4px">&nbsp;&nbsp;Your games</p></i>
          </div>
        <% end %>

        <%= link_to new_group_path(solo: false), class: "text-decoration-none " do %>
          <div class="option-background d-flex align-items-center justify-content-center my-4">
            <i class="fa-solid fa-users" style="color: $yellow"></i>
            <p class="mb-0">&nbsp;&nbsp;Create a group</p>
          </div>
        <% end %>

        <%= link_to new_group_path(solo: true), class: "text-decoration-none text-center" do %>
          <div class="d-flex align-items-center justify-content-center solo-div">
            <i class="fa-solid fa-child-reaching" style="color: #F2C242; font-size: 21px; margin-bottom: 5px"></i>
            <p class="mb-0 solo">&nbsp;&nbsp;Play solo</p>
          </div>
        <% end %>
    <%= image_tag 'poster.png', class:"img-bottom" %>
    </div>

</div>
