<div class="d-block row">
  <div class="col-sm">

      <%= link_to groups_path do %>
        <div class="bord">
          <p>Join a group</p>
        </div>
      <% end %>

      <%= link_to new_group_path do %>
        <div class="bord">
          <p>Create a group</p>
        </div>
      <% end %>

      <%= link_to groups_path do %>
        <div class="bord">
          <p>Solo</p>
        </div>
      <% end %>

  </div>
</div>
