.tag-button {
  text-decoration: none;
  color: $darkgray;
  border: 1px solid  $yellow;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 13px;
}

.tag-button:hover {
  color: $darkgray;
}

.tag-button:focus {
  background-color: $yellow;
  font-weight: bold;
  color: $darkgray;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: $darkgray;
  text-align: center;
  background-color: $yellow;
  text-decoration: none;
  font-weight: bold;
  text-decoration-style: none;
  border: none;
  font-size: 20px;
  a {
    text-decoration: none;
    color: black;
  }
}

.bottom-button:hover {
  color: $darkgray;
}

.plus-button {
  text-decoration: none;
  padding: 10px 100px;
  background-color: $yellow;
  color: $darkgray;
  font-weight: bold;
  border-radius: 25px;
}

.plus-button:hover {
  color: $darkgray;
}

.group-button {
  text-align: center;
  border: 1px solid $yellow;
  background-color: $yellow;
  text-decoration: none;
  color: $darkgray;
  font-size: 20px;
  font-weight: bold;
  // opacity: .7;
}

// .group-button:focus {
//   opacity: 1;
//   color: $white;
//   background-color: $yellow;
// }

.add-group {
  font-size: 20px;
  color:  $yellow;
  text-decoration: none;
}

.add-group:hover {
  color: $yellow;
}

.delete {
  color: red;
  text-decoration: none;
}

.delete:active {
  background-color: red;
  color: #fff;
}

.pos {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.render-button {
  margin-bottom:92px;
}


.search-input {
  border-radius: $radius;
  padding: 12px;
  border: 1px solid $yellow;
  background-color: $darkgray;
}


.btn-{
  color: $yellow;
  text-align: center;
  margin: 21px auto;
  display: flex;
  padding: 11px 56px;
  border-radius: 10px;
  background-color: #ffd86c;
  font-size: 20px;
  color: $darkgray;
  transition: .3s;
}

.btn-:active {
  background-color: $yellow;
  color: $darkgray;
  box-shadow: none;
}

.btn-close {
  color: $yellow !important;
  font-size: 20px;
}

.modal-footer-one {
  padding: 0 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: red;
    text-decoration: none;
  }

  a:focus {
    color: white;
    text-decoration: none;
  }

  .btn {
    background-color: $yellow;
    color: $darkgray;
    border: none;
  }
}

.modal-footer-two {
  padding: 0 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:focus {
    color: red;
    text-decoration: none;
  }

  .btn {
    background-color: $yellow;
    color: $darkgray;
    border: none;
  }
}



.trash {
  color: $light-gray;
  height: 20px;
}
