.tag-button {
  text-decoration: none;
  color: $darkgray;
  border: 1px solid  $yellow;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 13px;
}

.tag-button:hover {
  color: $darkgray;
}

.tag-button:focus {
  background-color: $yellow;
  font-weight: bold;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: $darkgray;
  text-align: center;
  background-color: $yellow;
  text-decoration: none;
  font-weight: bold;
  text-decoration-style: none;
  border: none;
  font-size: 20px;
}

.bottom-button:hover {
  color: $darkgray;
}

.plus-button {
  text-decoration: none;
  padding: 10px 100px;
  background-color: $yellow;
  color: $darkgray;
  font-weight: bold;
  border-radius: 25px;
}

.plus-button:hover {
  color: $darkgray;
}

.group-button {
  text-align: center;
  border: 1px solid $yellow;
  background-color: $yellow;
  text-decoration: none;
  color: $darkgray;
  font-size: 20px;
  font-weight: bold;
  // opacity: .7;
}

// .group-button:focus {
//   opacity: 1;
//   color: $white;
//   background-color: $yellow;
// }

.add-group {
  font-size: 20px;
  color:  $yellow;
  text-decoration: none;
}

.delete {
  color: red;
  text-decoration: none;
}

.delete:active {
  background-color: red;
  color: #fff;
}

.pos {
  padding: 15px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.render-button {
  position: sticky !important;
  bottom: 10px !important;
}

.quizz-button {
  position: sticky !important;
  bottom: 0px !important;
}

.search-input {
  border-radius: $radius;
.btn-{
  color: $yellow;
  text-align: center;
  margin: 21px auto;
  display: flex;
  padding: 11px 56px;
  border-radius: 10px;
  background-color: #ffd86c;
  font-size: 20px;
  color: $darkgray;
  transition: .3s;
}

.btn-:active {
  background-color: $yellow;
  color: $darkgray;
  box-shadow: none;
}
