.tag-button {
  background-color: $white;
  text-decoration: none;
  color: $darkgray;
  border-radius: 15px;
  padding: 10px 20px;
}

.tag-button:hover {
  color: $darkgray;
}

.tag-button:focus {
  background-color: $yellow;
  font-weight: bold;
}

.bottom-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: $darkgray;
  text-align: center;
  background-color: $yellow;
  text-decoration: none;
  font-weight: bold;
  text-decoration-style: none;
  border: none;
  font-size: 20px;
}

.bottom-button:hover {
  color: $darkgray;
}

.plus-button {
  text-decoration: none;
  padding: 10px 100px;
  background-color: $yellow;
  color: $darkgray;
  font-weight: bold;
  border-radius: 25px;
}

.plus-button:hover {
  color: $darkgray;
}

.group-button {
  text-align: center;
  border: 1px solid $yellow;
  background-color: $yellow;
  text-decoration: none;
  color: $darkgray;
  // opacity: .7;
}
// .group-button:focus {
//   opacity: 1;
//   color: $white;
//   background-color: $yellow;
// }
.add-group {
  font-size: 20px;
  color: $darkgray;
  text-decoration: none;
}
.delete {
  color: red;
  text-decoration: none;
}
.pos {
  padding: 15px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
