.check_boxes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.collection_check_boxes {
  width: 85%;
}

.col-form-label {
  text-align: center;
  font-size: 24px;
}

.form-check {
  display: inline-block;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.form-check-input {
  position: absolute;
  transform: scale(0);
}

.form-check-input + label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  border: 2px solid darkgray;
  margin-bottom: 10px;
}

.form-check-input:checked + label {
  background-color: rgba(242, 194, 66, 0.2) ;
  color: $yellow;
  border: 2px solid rgb(242, 194, 66);
}
