.form {
  margin-top: 20px;

  a{
    color: #ffff;
    text-decoration: none;
    margin-top: 10px;
  }
}

#user_email {
  border: 1px solid $yellow;
  border-radius: 10px;
  background-color: $darkgray;
  color: $yellow;
  box-shadow: none;
}

#user_email:active {
  color: #ffff;
}

#user_password {
  border: 1px solid $yellow;
  border-radius: 10px;
  background-color: $darkgray;
  color: $yellow;
  box-shadow: none;
}

.new_user {
  // text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.remember {
  background-color: aquamarine;
}

.user_remember_me {

  #user_remember_me {
    position: absolute;
    transform: scale(1);
    // background-color: $yellow;
    color: $darkgray;
  }

  .form-check-input:checked  {
    background-color: $darkgray;
    color: $darkgray;
    border: 1px solid $yellow;
    box-shadow: none;
  }

  // #user_remember_me:checked {
  //   // background-color: $yellow;
  //   color: $darkgray;
  // }

  .form-check-label {
    font-size: 15px;
    border: none;
    margin-left: 0;
    border-radius: none;
    background-color: transparent;
    color: $yellow;
    padding: 0;
  }

  .form-check-input + label {
    color: #ffff;
  }

  .form-check-label:checked + label {
    background-color: transparent;
      color: $darkgray;
      border: none;
    }
    .form-check-input:checked + label {
      background-color: transparent;
      border: none;
      color: $yellow;

    }

}

//*************************************************************** END *******************************************************************************************


// ****************************************************** FORM-SIGN UP *******************************************************************************************

#user_username {
  border: 1px solid $yellow;
  border-radius: 10px;
  background-color: $darkgray;
  color: $yellow;
  box-shadow: none;
}

#user_password_confirmation {
  border: 1px solid $yellow;
  border-radius: 10px;
  background-color: $darkgray;
  color: $yellow;
  box-shadow: none;
  margin-top: 15px;
}

// *************************************************************************************************************************************************************************

//********************************************************************** FORM FORGOT PASSWORD *******************************************************************************/@at-root

.log-in{

  a{
    color: #ffff;
    text-decoration: none;
    margin-top: 15px;
  }
}

.send-reset {
  color: $yellow;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
