.link-none {
  text-decoration: none;
  color: inherit;
}

.sign-up-link {
  margin-top: 235px;
  a{
    color: #fff;
    text-decoration: none;
  }
}

.forgot-password-link{

  a{
    color: #fff;
    text-decoration: none;
  }
}

.delete-group:hover {
  color: red;
}
