.navbar {
  background-color: $darkgray;
  height: 10vh;
  margin-top: -8px;
  display: flex;
  align-items: center;
}
#toggle {
  display: none;
}

/** Hamburger **/

.hamburger {
  position: absolute;
  right: 9%;
  // width: 3em;
  z-index: 5;
  // top: 72px;
  // margin-left: -2em;
  // margin-top: -45px;
  // height: 45px;
}
.hamburger div {
  // position: relative;
  width: 2em;
  height: 5px;
  border-radius: 5px;
  background-color: #DDDDDD;
  margin-top: 6px;
  transition: all 0.3s ease-in-out;
}

/** Nav Styles **/

.nav {
  position: fixed;
  width: 100%;
  color: #353535;
  top: -100%;
  left: 0;
  right: 0;
  height: 25%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  background-color: $yellow;
  border-radius: 0 0 10px 10px;
  font-size: 1.5rem;
}
.text-color {
  color: #353535;
  font-weight: bold;
  margin-top: 17px;
  text-align: center;
}
.text-color:hover {
  color: #353535;
}

/** Animations **/

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
}
#toggle:checked + .hamburger .meat {
  opacity: 0;
  transform: rotate(45deg);
  // margin-top: -5px;
}
#toggle:checked + .hamburger .bottom-bun {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}
#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
.arrow{
  position: absolute;
  margin-top: 10px;
  left: 9%;
}
.arrow:active {
  color: #fff;
}
.arrow:hover {
  color: $light-gray;
}
.edit-navbar {
  position: absolute;
  margin-left: 21px;
  top: 14px;
  z-index: 1000;
}
