.navbar {
  background-color: $darkgray;
  height: 10vh;
  margin-top: -8px;
  display: flex;
  align-items: center;
}


#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 72px;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 2em;
  height: 4px;
  border-radius: 3px;
  background-color: #DDDDDD;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
  position: fixed;
  width: 100%;
  color: #353535;
  top: -100%;
  left: 0;
  right: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  background-color: $yellow;
  border-radius: 0 0 10px 10px;
  font-size: 1.5rem;

}



.text-color {
  color: #353535;
  font-weight: bold;
  margin-top: 17px;
  text-align: center;
}

//

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-44deg);
  margin-top: 21px;
}



#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -4px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}


.arrow{
  margin-top: 15px;
  margin-left: 15px;
}

.arrow:hover {
  color: $light-gray;
}

.edit-navbar {
  position: absolute;
  top: 5.8px;
  z-index: 1000;
}
