.member-title {
  color: $yellow;
}

.member-group {
  font-size: 20px;
  margin-bottom: none;

}

.member-content {
  margin-bottom: 44px;
  p{
    margin-top: 20px;

  }
}

.member {
  border: 1px solid rgba(255, 255, 255, 0.469);
  width: 150px;
  margin: 20px auto;
  border-radius: 10px;

}

.delete-group {
  color: red;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
}

.delete-group:active{
  color: #ffff;
  background-color: red;
}

.delete-groups{
  margin-top: 87%;
  margin-bottom: 19px;
}


.group-name {
  border-top: 2px solid $yellow;
  border-bottom: 2px solid $yellow;
  // background-color: $yellow;
  border-radius: 10px;
  color: $yellow;
  margin: 15px auto;
  width: 300px;
  padding: 10px 0px;
}
