<h1>The movies I have already seen</h1>

<% movies = [] %>
  <% MovieSeen.where(user_id: current_user.id).each do |movie_seen| %>
    <% movies << movie_seen.movie_id %>
<% end %>

<% movies.each do |id| %>
  <h3><%= Movie.where(id: id)[0].name %></h3>
  <p><%= Movie.where(id: id)[0].year %></p>
  <p><%= Movie.where(id: id)[0].actor.first(3).to_s.gsub(/[\[\]\"]/,"") %></p>
  <p><%= Movie.where(id: id)[0].synopsis %></p>
<% end %>
